@model IEnumerable<DejandoHuella.Models.ProductoTecnologico>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.NombreProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Costo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medidas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Almacenamiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoSoftware)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemoryRam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdBodega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FotoBase64)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.NombreProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Costo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medidas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Almacenamiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoSoftware)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemoryRam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdBodega)
            </td>
            <td>
                <img src="~/images/ProductoTecnologico/@item.FotoBase64"
                     class="rounded-circle"
                     height="40" width="40"
                     asp-append-version="true" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
