@model DejandoHuella.Models.ProductoElectrodomestico

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProductoElectrodomestico</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConsumoElectrico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConsumoElectrico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdBodega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdBodega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FotoBase64)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FotoBase64)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Costo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Costo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medidas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medidas)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
